docker.enabled = true

process {

    executor = 'local'

    withName: FASTP {
        container = 'biocontainers/fastp:0.23.2--0'
        cpus = 2
    }

    withName: FASTQC {
        container = 'biocontainers/fastqc:0.11.9--0'
    }

    withName: MULTIQC {
        container = 'ewels/multiqc:1.15'
    }

    withName: ALIGN {
        container = 'biocontainers/bwa:0.7.17--7'
    }

    withName: METRICS {
        container = 'biocontainers/samtools:1.17--0'
    }

    withName: PAIRTOOLS {
        container = 'quay.io/biocontainers/pairtools:1.0.2--pyhdfd78af_0'
    }

    withName: COOLER {
        container = 'quay.io/biocontainers/cooler:0.9.3--pyhdfd78af_0'
    }

    withName: JUICER {
        container = 'quay.io/biocontainers/juicer_tools:1.22.01--hdfd78af_0'
    }
}
